body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}


/* Menu */

header{
    margin-top: 10px;
}

header nav{
    margin: 30px;
    float: right;
}

header .btn.btn-primary{
    position: relative;
    color: #000;
    text-decoration: none;
    background-color: white;
    border-style: hidden;
}

header .btn.btn-primary:before{
    content: "";
    position: absolute;
    width: 73%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    margin-left: 10px;
}

header .btn.btn-primary:hover{
    background-color: white;
    color: black;
}

header .btn.btn-primary:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* Main Body */

section{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#introduction h2{
    font-size: 55px;
    vertical-align: 50px;
    align-items: center;
}

#introduction h3{
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


    /* Portfolio */

    #banner{
        margin-bottom: 300px;
}

    #banner img{
        position: absolute;
        left: 0;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
}

    #banner img.top:hover{
        opacity: 0;
        cursor: pointer;
}


    /* About */

    #aboutMe p{
    font-size: 30px;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}


    /* Resume */

    #experience h3{
        margin-top: 40px;
}

    #experience ul {
        list-style: none;
        margin-bottom: 100px;
}

    #education h3{
        margin-top: 40px;
}

    #education ul {
        list-style: none;
        margin-bottom: 100px;
}

    #programe p{
        margin-bottom: 100px;
}


/* Footer */

footer{
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-top: 150px;
    background-color: darkgrey;
}

footer img{
    width: 60px;
    width: 60px;
}


/* Animation Code */

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
    -ms-animation-name: slideDown;	
    -o-animation-name: slideDown;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;
    -ms-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;

	visibility: visible !important;
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
    -ms-animation-name: slideUp;	
    -o-animation-name: slideUp;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;
    -ms-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;

	visibility: visible !important;
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;
    -ms-animation-name: slideRight;	
    -o-animation-name: slideRight;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;
    -ms-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;

	visibility: visible !important;
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;
    -ms-animation-name: slideLeft;	
    -o-animation-name: slideLeft;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;
    -ms-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;

	visibility: visible !important;
}

.fadein{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}/* Firefox < 16 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}/* Safari, Chrome and Opera > 12.1 */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}/* Internet Explorer */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}/* Opera < 12.1 */

@keyframes slideUp {
	0% { transform: translateY(700%); }	
	100% { transform: translateY(0%); }	
}
@-moz-keyframes slideUp {
	0% { -moz-transform: translateY(700%); }		
	100% { -moz-transform: translateY(0%); }	
}
@-webkit-keyframes slideUp {
	0% { -webkit-transform: translateY(700%); }	
	100% { -webkit-transform: translateY(0%); }	
}
@-ms-keyframes slideUp {
	0% { -ms-transform: translateY(700%); }	
	100% { -ms-transform: translateY(0%); }	
}
@-o-keyframes slideUp {
	0% { -o-transform: translateY(700%); }		
	100% { -o-transform: translateY(0%); }	
}

@keyframes slideDown {
	0% { transform: translateY(-700%); }	
	100% { transform: translateY(0%); }	
}
@-moz-keyframes slideDown {
	0% { -moz-transform: translateY(-700%); }		
	100% { -moz-transform: translateY(0%); }	
}
@-webkit-keyframes slideDown {
	0% { -webkit-transform: translateY(-700%); }	
	100% { -webkit-transform: translateY(0%); }	
}
@-ms-keyframes slideDown {
	0% { -ms-transform: translateY(-700%); }	
	100% { -ms-transform: translateY(0%); }	
}
@-o-keyframes slideDown {
	0% { -o-transform: translateY(-700%); }		
	100% { -o-transform: translateY(0%); }	
}

@keyframes slideRight {
	0% { transform: translateX(-500%); }	
	100% { transform: translateX(0%); }	
}
@-moz-keyframes slideRight {
	0% { -moz-transform: translateX(-500%); }		
	100% { -moz-transform: translateX(0%); }	
}
@-webkit-keyframes slideRight {
	0% { -webkit-transform: translateX(-500%); }	
	100% { -webkit-transform: translateX(0%); }	
}
@-ms-keyframes slideRight {
	0% { -ms-transform: translateX(-500%); }	
	100% { -ms-transform: translateX(0%); }	
}
@-o-keyframes slideRight {
	0% { -o-transform: translateX(-500%); }		
	100% { -o-transform: translateX(0%); }	
}

@keyframes slideLeft {
	0% { transform: translateX(1200%); }	
	100% { transform: translateX(0%); }	
}
@-moz-keyframes slideLeft {
	0% { -moz-transform: translateX(1200%); }		
	100% { -moz-transform: translateX(0%); }	
}
@-webkit-keyframes slideLeft {
	0% { -webkit-transform: translateX(1200%); }	
	100% { -webkit-transform: translateX(0%); }	
}
@-ms-keyframes slideLeft {
	0% { -ms-transform: translateX(1200%); }	
	100% { -ms-transform: translateX(0%); }	
}
@-o-keyframes slideLeft {
	0% { -o-transform: translateX(1200%); }		
	100% { -o-transform: translateX(0%); }	
}



